body {
    font-family: sans-serif;
    background-color: rgba(223, 237, 190, 0.431);
}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(102, 169, 110);
}
  

h2{
    text-align: center;
    font-size: 40px;
    background-color: rgb(85, 105, 37);
    color: rgb(255, 255, 255);
}

a {
    color: black;
    font-size: 20px;
}

p {
    border: 1px solid rgb(97, 173, 39);
}

p, table {
    font-size: 20px;
}

table{
    background-color: rgba(103, 145, 83, 0.393);
    text-align: center;
    border-collapse: collapse;
    font-size: 30px;
    margin-left:auto;margin-right: auto;
}

td{
    border: 3px solid rgba(109, 135, 29, 0.714);
}

th{
    border: 3px solid rgba(150, 162, 114, 0.714);
    background-color: rgb(81, 86, 69);
    color: White;
}


footer{
    
   background-color: rgba(81, 86, 69, 0.193);
}
footer{
    
   background-color: rgba(81, 86, 69, 0.193);
}

iframe{
    
    margin-left:auto;margin-right: auto;
}
header {
    font-family: sans-serif;
    background-color: rgba(98, 114, 61, 0.431);
    color: White;
}
